
    <div class="breadcrumb2">
        <a href="/#/user-management/object" target="_self">Dashboard</a><span class="fa fa-caret-right"></span>
         MDM<span class="fa fa-caret-right"></span>
         User Management
    </div>

<h2 class="dashboard-heading">Track Waybill</h2>

<div class="track_bill_card">
    <div class="track_bill_card_1 text-center">
        <h3>Status:</h3>
        <h4>In Transit</h4>
        <p><b>Waybill No:</b> 211028</p>
        <p>Origin: Delhi, 15</p>
        <p>Destination: Mumbai, 23</p>
        <div class="timeline">
            <div class="events">
                <ol>
                    <ul>
                        <li>
                            <a href="#0" class="selected">Created</a>
                            <span class="time_line">8:00 AM <br> 30/01/2020</span>
                        </li>
                        <li>
                            <a href="#1" class="selected">Picked</a>
                            <span class="time_line">8:00 AM <br> 30/01/2020</span>
                        </li>
                        <li>
                            <a href="#2" class="current">In Transit</a>
                            <span class="time_line"><b>From:</b>Gurgaon, Haryana <br> <b>To:</b> Mumbai, Maharastra</span>
                        </li>
                        <li>
                            <a href="#3">Delivered</a>
                            <span class="time_line">8:00 AM <br> 30/01/2020</span>
                        </li>
                    </ul>
                </ol>
            </div>
        </div>
        
        <mat-card class="card_body">
            <div class="mat-table mat_table_main">
                <div class="mat-row bg bg_dark_grey table_main_header">
                    <div class="mat-cell mat_cell_head">Date & Time</div>
                    <div class="mat-cell mat_cell_head">Branch</div>
                    <div class="mat-cell mat_cell_head">Shipment Tracking</div>
                </div>
                <div class="mat-row bg_light_grey">
                    <div class="mat-cell hyperlink">30/01/2020 & 12: 00 AM</div>
                    <div class="mat-cell">branch 1</div>
                    <div class="mat-cell">tacking 1</div>
                </div>
                <div class="mat-row bg_light_grey">
                    <div class="mat-cell hyperlink">30/01/2020 & 12: 00 AM</div>
                    <div class="mat-cell">branch 1</div>
                    <div class="mat-cell">tacking 1</div>
                </div>
                <div class="mat-row bg_light_grey">
                    <div class="mat-cell hyperlink">30/01/2020 & 12: 00 AM</div>
                    <div class="mat-cell">branch 1</div>
                    <div class="mat-cell">tacking 1</div>
                </div>
            </div>
        </mat-card>

    </div>
</div>