<div class="search_dropdown" id="trackWayBill">
    <div class="row">
      <div class="col-md-3">
        <div class="search_drop_left">
          <div class="search_drop_left_1">
          <p><strong>Waybill No:</strong> WB00201</p>
          <p><strong>SFXperience #:</strong> 1230010</p>
          <div class="example-button-row text-left" style="margin-top:2.0rem" >
            <a routerLink="/user-management/track-waybill"><button class="btn1" mat-raised-button color="primary" (click)="onNoClick()">VIEW DETAILS</button></a>
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="search_drop_right">
          <h3 class="text-center">Status:</h3>
          <h5 class="text-center">In Transit</h5>
          <div class="timeline">
            <div class="events">
              <ol>
                <ul>
                  <li>
                    <a href="#0" class="selected">Created</a>
                    <span class="navspan">8:00 AM <br> 30/01/2020</span>
                  </li>
                  <li>
                    <a href="#1" class="selected">Picked</a>
                    <span class="navspan">8:00 AM <br> 30/01/2020</span>
                  </li>
                  <li>
                    <a href="#2" class="selected">In Transit</a>
                    <span class="navspan"><b>From:</b>Gurgaon, Haryana <br> <b>To:</b> Mumbai, Maharastra</span>
                  </li>
                  <li>
                    <a href="#3" class="selected">Delivered</a>
                    <span class="navspan">8:00 AM <br> 30/01/2020</span>
                  </li>
                </ul>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>