<!-- 18-Nov-2017 -->
<div class="row text-left">
    <div class="breadcrumb2">
      <a href="/#/user-management/object" target="_self">Dashboard</a><span class="fa fa-caret-right"></span>
       MDM<span class="fa fa-caret-right"></span>
       User Management
  </div>
  <h2 class="dashboard-heading">User Management</h2>


  <a  class="text-right align"  style="text-align: right;"><i (click)="ExportTOExcel()" style="cursor: pointer;">Download Users Details</i></a>
</div>
  <!-- 18-Nov-2017 -->
<!-- <div fxLayout fxLayout.sm="column wrap" fxLayout.xs="column wrap"  fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px">   -->
  <div class="dashboard-first-container" fxLayout  fxLayout.xs="column wrap"  fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px" >
  <div class="item item-4" fxFlex="100%"  fxFlexOffset.xs="0">
    <mat-card style="flex-wrap: wrap" class="example-card " fxFlex="89%" id="lending" >
      <div>
        <mat-radio-group aria-label="Select an option" (change)="toptendata(10)" [(ngModel)]="selectedStatus">
          <mat-radio-button [value]=1 >User ID</mat-radio-button>
          <mat-radio-button [value]=2 >Name</mat-radio-button>
          <mat-radio-button [value]=3 >Top 10</mat-radio-button>
        </mat-radio-group>
        </div>
      <a routerLink="/user-management/usercreate" style="cursor: pointer;"  *ngxPermissionsOnly="['CREATE']" >
        <mat-icon id="plusicon" mat-card-avatar aria-label="Example icon">add_circle</mat-icon>
      </a>
      <span class="fa fa-search fa-lg" *ngIf="selectedStatus!=3" id="dashboard-search"></span>
      <input maxlength="50" class="banner-input1"  (keypress)="validInput($event)" placeholder="{{searchUserPlaceHolder}}" [(ngModel)]="searchValue"
      autocomplete="true"  [readonly]="selectedStatus==3" (keyup.enter)="applyFilter($event.target.value)">

      <hr class="green-border-heading">

      <div  mat-elevation-z8 #TABLE>
        <table  mat-table [dataSource]="dataSource" #table matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="userId"  >
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p class="th-text"> User ID </p></th>
            <td mat-cell *matCellDef="let element" ><p class="th-text" >{{element.userId | uppercase}}</p></td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p class="th-text"> Name </p></th>
            <td mat-cell *matCellDef="let element" let i = index;><p class="th-text">{{element.name | uppercase}} </p></td>
          </ng-container>

          <ng-container matColumnDef="userDepartment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p class="th-text"> Department </p></th>
            <td mat-cell *matCellDef="let element" let i = index;><p class="th-text">{{element.userDepartment}}</p></td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p class="th-text"> Email Id</p> </th>
            <td mat-cell *matCellDef="let element"><p class="th-text">  {{element.email | uppercase}}</p></td>
          </ng-container>

          <ng-container matColumnDef="effectiveDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p class="th-text"> Start Date</p> </th>
            <td mat-cell *matCellDef="let element"><p class="th-text">  {{element.effectiveDate | date: 'dd/MM/yyyy'}}</p></td>
          </ng-container>

          <ng-container matColumnDef="expiryDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p class="th-text"> End Date</p> </th>
            <td mat-cell *matCellDef="let element"><p class="th-text">  {{(element.expiryDate) ? (element.expiryDate | date: 'dd/MM/yyyy') : ''}}</p></td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p class="th-text"> Status </p></th>
            <td mat-cell *matCellDef="let element"><p class="th-text"> {{((element.status==1) ? 'ACTIVE' : 'INACTIVE')}}</p></td>
            <!-- <ng-container *matCellDef="let element">
              <td mat-cell *ngIf="(element.status==1); else noReplies"><p class="th-text"> ACTIVE</p></td>
            </ng-container>
            <ng-template #noReplies><td mat-cell> <p class="th-text">INACTIVE</p> </td>
              </ng-template> -->
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef>View Details </th>
            <td style=" pointer-events: auto; padding-left: 0;" mat-cell class="viewlink" *matCellDef="let element" >
              <span *ngxPermissionsOnly="['READ']" style="cursor: pointer;" (click)="onEdit(element)" class="th-text-view">VIEW</span>

            <span *ngxPermissionsOnly="['CREATE','UPDATE']" style="cursor: pointer;" (click)="onEdit(element)" class="th-text-view"> / EDIT</span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <ngx-spinner id="spinner" size="large" type="ball-spin-clockwise">

      </ngx-spinner>

       <div [ngStyle]="{'opacity':paginaFlg ? '1':'0'}">
         <mat-paginator
          #paginator
          [pageSize]="10"
          [pageSizeOptions]="[10, 15, 20]"
          [showFirstLastButtons]="true"
      ></mat-paginator>
      </div>

    </mat-card>
  </div>

  <div fxFlex="1%"></div>

</div>

